@model MyBlog.EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "MesajGuncelle";
    Layout = "~/Areas/Writers/Views/WriterLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Mesaj Güncelleme Sayfası</h3>
            <nav aria-label="breadcrumb">

            </nav>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mesaj Güncelle</h4>
                        <br />
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="MessageId" />
                                <br />
                                <label>Gönderen Adı</label>
                                <input type="text" class="form-control" asp-for="Gonderen" />
                                <br />
                                <label>Alıcı Adı</label>
                                <input type="text" class="form-control" asp-for="Alıcı" />
                                <br />
                                <label>Mesajın Konusu</label>
                                <input type="text" class="form-control" asp-for="Subject" />
                                <br />
                                
                                <label for="messageDescription">Mesaj Açıklaması</label>
                                <textarea id="messageDescription" 
                                name="MessageDescription" class="form-control" rows="4" cols="50" asp-for="MessageDescription"></textarea>
                                <br />
                                <label>Mesajın Gönderim Tarihi</label>
                                <input type="text" class="form-control" asp-for="MessageDate" />
                            </div>

                            <button type="submit" class="btn btn-primary mr-2"> Güncelle </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

