<div class="sidebar__about__item">
    <div class="sidebar__item__title">
        <h6>Hakkımda</h6>
    </div>
    <img src="/foodeiblog-master/img/resim.png" alt="" width="30" height="250">
    <h6>Merhaba Herkese,! Ben <span>Tuba BALKAN.</span></h6>
    <p>
        Bilgisayar mühendisliği bölümünden yeni mezun oldum ve yazılım geliştirme konusunda tutkulu biriyim.
        Özellikle web alanına ilgi duyuyor ve bu alanda kendimi geliştirmeye odaklanıyorum. Bu proje de kendimi 
        geliştirme aşamasında yaptığım projelerden birisi.
    </p>
    <a href="#" class="primary-btn">Daha Fazlasını Gör...</a>
</div>