
@{
    ViewData["Title"] = "DashboardList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<h2>Dashboard Sayfası</h2>
  
    <section class="content">
        <div class="container-fluid">
            <!-- ilk kısım -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Kategori Sayısı</span>
                            <span class="info-box-number">
                            @ViewBag.category
                                <small></small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Gelen Yorum Sayısı</span>
                        <span class="info-box-number">@ViewBag.comment</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Etiket Sayısı</span>
                        <span class="info-box-number">@ViewBag.Tag</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Toplam Yazar Sayısı</span>
                        <span class="info-box-number">@ViewBag.writer</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
            <div class="col-md-8">
                <!-- yazarrr   -->
                @await Component.InvokeAsync("YazarListDashboard")
            </div>
                <div class="col-md-4"> 
                    <!-- Blog Listesi-->
                @await Component.InvokeAsync("BlogListDashboard")
               
                </div>
            </div>
        </div>
    </section>


